<p class="text m-4 text-center mouse-disabled text-word-wrap-break-word" [innerHTML]="textSignal()"></p>

<div class="text-center border-top variant p-3">
    @if (data?.isInfo) {
        <button (click)="data?.closeClickHandler()" mat-stroked-button>
            <span [innerHTML]="data?.closeText"></span>
        </button>
    }

    @if (data?.isQuestion) {
        <button class="mr-3 me-3" (click)="data?.yesClickHandler()" color="primary" mat-stroked-button>
            <span [innerHTML]="data?.yesText"></span>
        </button>

        <button (click)="data?.notClickHandler()" mat-stroked-button>
            <span [innerHTML]="data?.notText"></span>
        </button>
    }
</div>
