<mat-table
    matSort
    class="flex-grow-1 scroll-vertical"
    [trackBy]="source.trackBy"
    [dataSource]="source.itemsSignal()"
    [class.header-hidden]="settingsSignal()?.isHideHeader"
    [matSortActive]="source.sortActiveSignal()"
    [matSortDirection]="source.sortDirectionSignal()"
    (matSortChange)="sortEventHandler($event)"
>
    @for (column of columnsSignal(); track column.name) {
        <ng-container [matColumnDef]="column.name">
            <mat-header-cell
                class="px-2"
                mat-sort-header
                [disableClear]="true"
                [disabled]="column.isDisableSort"
                [class]="column.headerClassName"
                *matHeaderCellDef
            >
                <span [innerHTML]="column.headerId | viTranslate"></span>
            </mat-header-cell>
            <mat-cell
                *matCellDef="let row"
                (click)="cellClickHandler(row, column, $event)"
                class="p-2"
                [class]="row | viCdkTableColumnClassName: column"
                [style]="row | viCdkTableColumnStyleName: column"
            >
                @if (column.isImage) {
                    <img
                        [class]="row | viCdkTableCellClassName: column"
                        [style]="row | viCdkTableCellStyleName: column"
                        [src]="column.isAsync ? (row | viCdkTableCellValue: column) : (row | viCdkTableCellValuePure: column)"
                    />
                } @else {
                    <span
                        [class]="row | viCdkTableCellClassName: column"
                        [style]="row | viCdkTableCellStyleName: column"
                        [vi-html-content-title]="column.isAsync ? (row | viCdkTableCellValue: column) : (row | viCdkTableCellValuePure: column)"
                    ></span>
                }
            </mat-cell>
        </ng-container>
    }

    <mat-header-row *matHeaderRowDef="columnNamesSignal()"></mat-header-row>

    <mat-row
        *matRowDef="let row; columns: columnNamesSignal()"
        class="mat-list-item"
        [class.active]="settingsSignal()?.isInteractive"
        [class]="row | viCdkTableRowClassName: rowsSignal() : selectedRowsSignal()"
        [style]="row | viCdkTableRowStyleName: rowsSignal() : selectedRowsSignal()"
        (click)="rowClickHandler(row, $event)"
    ></mat-row>

    <p class="p-5 flex-shrink-0 text-center mouse-disabled" [vi-translate]="settingsSignal()?.noDataId" *matNoDataRow></p>
</mat-table>

<mat-progress-bar class="flex-shrink-0 border-line transparent" [mode]="source.isLoadingSignal() ? 'indeterminate' : 'determinate'"></mat-progress-bar>
