@use 'sass:map';
@use 'variables' as var;
@use '@ts-core/angular' as vi;
@use '@angular/material' as mat;

@use 'bootstrap' as bootstrap;

@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins/breakpoints';

// Material
@mixin material() {
    textarea {
        &.cdk-textarea-autosize {
            overflow-y: hidden !important;
        }
    }
    mat-chip:focus,
    mat-tab-group {
        outline: 0;
    }
    mat-hint,
    mat-error {
        @include vi.mouse-inactive();
    }
    mat-dialog-container {
        &:hover:not(.minimized) {
            vi-window-resize-element {
                display: block !important;
            }
        }
        vi-window-resize-element {
            width: 32px;
            right: -16px;
            bottom: -16px;
            display: none !important;
            pointer-events: none;
        }
        .mdc-dialog__container {
            .mdc-dialog__surface {
                & > :first-child {
                    width: 100%;
                    height: 100%;
                    border-radius: var.$border-radius;
                }
            }
        }
    }
    mat-bottom-sheet-container {
        padding: 0 !important;
        overflow: visible !important;
        & > :first-child {
            width: 100%;
            height: 100%;
            border-radius: var.$border-radius;
            @include vi.scroll-vertical();
        }
    }
    mat-form-field {
        &.no-underline {
            .mdc-text-field {
                border-bottom-left-radius: var.$border-radius;
                border-bottom-right-radius: var.$border-radius;
                .mdc-line-ripple {
                    display: none;
                }
            }
        }
    }
    mat-dialog-container,
    mat-datepicker-content,
    mat-bottom-sheet-container {
        box-sizing: content-box;
        border-radius: var.$border-radius;
        border-width: 1px;
        border-style: solid;

        vi-window-close-element,
        vi-window-expand-element,
        vi-window-minimize-element {
            top: -16px;
            width: 32px;
            height: 32px;
            border-width: 1px;
            border-style: solid;
        }
        vi-window-close-element {
            right: -16px;
        }
        vi-window-expand-element,
        vi-window-minimize-element {
            right: 24px;
        }
        @include media-breakpoint-down(lg) {
            vi-window-close-element {
                right: 16px;
            }
            vi-window-expand-element,
            vi-window-minimize-element {
                right: 56px;
            }
        }
    }
    mat-expansion-panel {
        border-radius: 0 !important;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        &:last-child {
            border-bottom: none !important;
        }
        &:not([class*='mat-elevation-z']) {
            box-shadow: none !important;
        }
        &.mat-expansion-panel-spacing {
            margin: 0 !important;
        }
        mat-expansion-panel-header {
            height: auto !important;
            padding: 1rem !important;
            &.mat-expanded {
                height: auto !important;
            }
        }
        .mat-expansion-panel-body {
            padding: 0 !important;
        }
    }
    mat-progress-bar {
        &.border-line {
            height: 1px;
            .mdc-linear-progress__buffer {
                .mdc-linear-progress__buffer-dots {
                    display: none;
                }
            }
        }
        &.transparent {
            .mdc-linear-progress__buffer {
                .mdc-linear-progress__buffer-dots {
                    display: none;
                }
            }
        }
    }
    mat-table {
        mat-row {
            &.active {
                mat-cell {
                    @include vi.mouse-active();
                }
            }
        }
        .mat-column-item-menu {
            max-width: 44px;
            min-height: auto;
            text-align: center;
            justify-content: center;
        }
    }
    mat-paginator {
        .mat-mdc-paginator-range-label {
            margin: 0 4px;
            @include vi.mouse-inactive();
        }
        .mat-mdc-paginator-page-size-label {
            @include vi.mouse-inactive();
        }
    }
    .mat-icon {
        width: unset !important;
        height: unset !important;
    }
    .cdk-global-scrollblock {
        overflow-y: auto;
    }
    .cdk-overlay-pane {
        &.vi-window,
        &.vi-notification {
            position: absolute !important;
        }
        &.vi-draggable,
        &.vi-resizeable {
            border-radius: var.$border-radius;
        }
        &.vi-window {
            border: 2px solid transparent;
        }
        &.minimized {
            height: auto !important;
            min-height: 40px !important;
        }
        &.vi-blink {
            animation: blink 1s;
            animation-iteration-count: 5;
            @keyframes blink {
                50% {
                    border-color: transparent;
                }
            }
        }
        .mat-mdc-select-panel {
            padding: 0 !important;
            border-style: solid;
            border-width: 1px;
            border-radius: var.$border-radius;
        }
        .mat-mdc-menu-content {
            padding: 0 !important;
        }
        .mat-mdc-menu-panel {
            max-width: none !important;
            max-height: none !important;
            min-height: 0px !important;
        }
        .mat-mdc-autocomplete-panel {
            padding: 0 !important;
        }
    }
    .mdc-tooltip__surface {
        max-height: inherit !important;
    }
    // Text
    .mat-h1,
    .mat-h2,
    .mat-h3,
    .mat-h4,
    .mat-h5,
    .mat-h6,
    .mat-body,
    .mat-body-1,
    .mat-body-2,
    .mat-body-strong,
    .mat-small,
    .mat-caption,
    .mat-subtitle-1,
    .mat-subtitle-2,
    .mat-headline-1,
    .mat-headline-2,
    .mat-headline-3,
    .mat-headline-4,
    .mat-headline-5,
    .mat-headline-6 {
        margin: 0;
    }
}

@mixin core() {
    @include vi.core();
    @include mat.core();
    @include bootstrap.core();
    @include material();
}
