@forward 'helper/typography' as typography-*;
@forward 'helper/theme' as theme-*;
@forward 'core' show core;

@use 'sass:map';
@use '@angular/material' as mat;

@use 'variables' as var;
@use 'bootstrap' as bootstrap;
@use 'helper/typography' as typography;

@mixin color($theme) {
    @include bootstrap.color($theme);

    $primary: map.get($theme, 'primary');
    $foreground: map.get($theme, 'foreground');
    $background: map.get($theme, 'background');

    $base-color: map.get($foreground, 'base');
    $text-color: map.get($foreground, 'text');
    $border-color: map.get($foreground, 'divider');
    $primary-color: mat.get-color-from-palette($primary);

    body {
        color: $text-color;
        background-color: map.get($background, 'body');
    }
    mat-dialog-container,
    mat-datepicker-content,
    mat-bottom-sheet-container {
        border-color: $border-color;
        vi-window-close-element,
        vi-window-expand-element,
        vi-window-minimize-element {
            border-color: $border-color;
        }
    }

    mat-form-field {
        .mdc-text-field {
            &.mdc-text-field--disabled {
                .mdc-notched-outline__notch,
                .mdc-notched-outline__leading,
                .mdc-notched-outline__trailing {
                    border-color: $border-color !important;
                }
            }
            .mdc-line-ripple::before {
                border-bottom-color: $border-color !important;
            }
        }
        &.mat-focused,
        &:hover:not(.mat-form-field-disabled) {
            .mat-mdc-form-field-focus-overlay {
                background-color: map.get($background, 'hover') !important;
            }
        }
        .mdc-text-field--outlined {
            &:not(.mdc-text-field--disabled) {
                .mdc-notched-outline__notch,
                .mdc-notched-outline__leading,
                .mdc-notched-outline__trailing {
                    border-color: $border-color !important;
                }
                &:hover {
                    .mdc-notched-outline__notch,
                    .mdc-notched-outline__leading,
                    .mdc-notched-outline__trailing {
                        border-color: $primary-color !important;
                    }
                }
                &.mdc-text-field--focused {
                    .mdc-notched-outline__notch,
                    .mdc-notched-outline__leading,
                    .mdc-notched-outline__trailing {
                        border-color: $primary-color !important;
                    }
                }
            }
        }
    }
    mat-expansion-panel {
        border-bottom-color: $border-color;
        background: none !important;
    }
    mat-progress-bar {
        &.border-line {
            &:not(.transparent) {
                .mdc-linear-progress__buffer {
                    .mdc-linear-progress__buffer-bar {
                        background-color: $border-color !important;
                    }
                }
            }
        }
        &.transparent {
            .mdc-linear-progress__buffer {
                .mdc-linear-progress__buffer-bar {
                    background-color: transparent !important;
                }
            }
        }
    }
    mat-table {
        background: none !important;
        mat-row {
            &.active {
                &:hover {
                    background-color: map.get($background, 'hover') !important;
                }
            }
            &.selected {
                background-color: map.get($background, 'hover') !important;
            }
            mat-cell {
                border-bottom-color: $border-color !important;
                &:last-child {
                    border-bottom-color: transparent;
                }
            }
            .mdc-data-table__cell {
                color: inherit;
            }
        }
        mat-header-row {
            mat-header-cell {
                &:not(:hover),
                &.mat-sort-header-disabled {
                    color: $text-color !important;
                }
            }
        }
    }
    mat-list-item {
        .mat-mdc-list-item-icon {
            color: inherit !important;
        }
    }
    mat-paginator {
        background-color: transparent !important;
    }
    mat-checkbox {
        .mdc-form-field {
            color: $text-color !important;
        }
    }
    mat-radio-button {
        .mdc-form-field {
            color: $text-color !important;
        }
    }

    .mdc-text-field--disabled {
        .mdc-floating-label,
        .mdc-text-field__input {
            color: $text-color;
        }
    }
    .mat-mdc-menu-item {
        color: $text-color !important;
        &:hover {
            color: $base-color !important;
        }
        .mdc-list-item__primary-text {
            color: inherit !important;
        }
    }
    .mdc-list-item--with-leading-icon .mdc-list-item__start {
        color: inherit;
    }
    .mat-mdc-tooltip-trigger {
        touch-action: auto !important;
    }
    .mat-mdc-paginator {
        color: $text-color !important;
    }
    .cdk-overlay-pane {
        &.vi-blink {
            border-color: $primary-color;
        }
        .mat-mdc-select-panel {
            border-color: $border-color;
        }
        .mat-mdc-menu-panel {
            border-color: $border-color;
        }
    }
    .cdk-overlay-dark-backdrop {
        background: rgba(black, 0.64);
    }

    $thumb-color: rgba(black, 0.15);
    @if map.get($theme, 'is-dark') {
        $thumb-color: rgba(255, 255, 255, 0.1);
        .mat-drawer-backdrop {
            &.mat-drawer-shown {
                background-color: rgba(black, 0.8) !important;
            }
        }
    }
    ::-webkit-scrollbar-thumb {
        background-color: $thumb-color;
    }
}

@mixin typography($typography) {
    @include bootstrap.typography($typography);

    // Basic
    body {
        @include typography.level($typography, 'body-1', false);
    }
    // Material
    mat-table {
        mat-header-cell {
            @include typography.level($typography, 'body-2');
        }
        mat-cell {
            @include typography.level($typography, 'body-1');
        }
    }
    mat-row {
        &.selected {
            mat-cell {
                @include typography.level($typography, 'body-2');
            }
        }
    }
    mat-hint {
        @include typography.level($typography, 'caption', false);
    }
    mat-tooltip-component {
        @include typography.level($typography, 'caption');
    }
    mat-bottom-sheet-container {
        @include typography.level($typography, 'body-1');
    }
    mat-select {
        &.mat-mdc-select {
            @include typography.level($typography, 'body-2');
        }
    }
    mat-option {
        @include typography.level($typography, 'body-2');
    }
    mat-form-field {
        &.mat-mdc-form-field {
            @include typography.level($typography, 'body-2');
        }
        .mdc-floating-label {
            &:not(.mdc-floating-label--float-above) {
                @include typography.level($typography, 'body-2');
            }
        }
    }
    mat-checkbox {
        .mdc-form-field {
            @include typography.level($typography, 'body-2');
        }
    }
    mat-radio-button {
        .mdc-form-field {
            @include typography.level($typography, 'body-2');
        }
    }
    mat-paginator {
        .mat-mdc-paginator-range-label {
            @include typography.level($typography, 'body-2');
        }
        .mat-mdc-paginator-page-size-label {
            @include typography.level($typography, 'body-2');
        }
    }
    vi-menu-list {
        .mat-mdc-menu-item-text {
            @include typography.level($typography, 'body-2');
        }
    }

    .mat-headline-1 {
        @include typography.level($typography, 'headline-1', false);
    }
    .mat-headline-2 {
        @include typography.level($typography, 'headline-2', false);
    }
    .mat-headline-3 {
        @include typography.level($typography, 'headline-3', false);
    }
    .mat-headline-4 {
        @include typography.level($typography, 'headline-4', false);
    }
    .mat-headline-5 {
        @include typography.level($typography, 'headline-5', false);
    }
    .mat-headline-6 {
        @include typography.level($typography, 'headline-6', false);
    }
    .mat-subtitle-2 {
        @include typography.level($typography, 'subtitle-2', false);
    }
    .mat-subtitle-1 {
        @include typography.level($typography, 'subtitle-1', false);
    }
    .mat-body-2 {
        @include typography.level($typography, 'body-2', false);
    }
    .mat-body-1 {
        @include typography.level($typography, 'body-1', false);
    }
    .mat-caption {
        @include typography.level($typography, 'caption', false);
    }
    .mat-button {
        @include typography.level($typography, 'button', false);
    }
}
@mixin theme($theme, $typography) {
    $color: mat.get-color-config($theme);
    @if $color != null {
        @include color($theme);
    }
    @if $typography != null {
        @include typography($typography);
    }
}
