@forward 'core' show core;
@forward 'helper/color' as color-*;
@forward 'helper/typography' as typography-*;

@use 'bootstrap' as bootstrap;
@use '@ts-core/angular' as vi;
@use '@angular/material' as mat;
@use 'helper/typography' as typography;

@mixin color($theme) {
    @include bootstrap.color($theme);

    $text-color: var(--mat-app-text-color);
    $hover-color: var(--mat-option-hover-state-layer-color);
    $border-color: mat.get-theme-color($theme, 'outline');
    $primary-color: mat.get-theme-color($theme, 'primary');

    mat-expansion-panel,
    mat-datepicker-content {
        border-color: $border-color;
    }

    mat-dialog-container,
    mat-bottom-sheet-container {
        border-color: $border-color;
        vi-window-close-element,
        vi-window-expand-element,
        vi-window-minimize-element {
            border-color: $border-color;
        }
    }
    mat-progress-bar {
        &.border-line {
            &:not(.transparent) {
                .mdc-linear-progress__buffer {
                    .mdc-linear-progress__buffer-bar {
                        background-color: $border-color !important;
                    }
                }
            }
        }
        &.transparent {
            .mdc-linear-progress__buffer {
                .mdc-linear-progress__buffer-bar {
                    background-color: transparent !important;
                }
            }
        }
    }
    mat-table {
        mat-row {
            &.active {
                &:hover {
                    background-color: $hover-color !important;
                }
            }
            &.selected {
                background-color: $hover-color !important;
            }
        }
    }
    mat-list-item {
        &.mdc-list-item--disabled {
            @include vi.mouse-inactive();
        }
        .mat-mdc-list-item-title {
            color: inherit;
        }
    }
    .mat-mdc-tooltip-trigger {
        touch-action: auto !important;
    }
    .cdk-overlay-pane {
        &.vi-blink {
            border-color: $primary-color;
        }
        .mat-mdc-select-panel {
            border-color: $border-color;
        }
        .mat-mdc-menu-panel {
            border-color: $border-color;
        }
    }
    .cdk-overlay-dark-backdrop {
        background: rgba(black, 0.64);
    }

    $thumb-color: rgba(black, 0.15);
    @if mat.get-theme-type($theme) == dark {
        $thumb-color: rgba(255, 255, 255, 0.1);
        .mat-drawer-backdrop {
            &.mat-drawer-shown {
                background-color: rgba(black, 0.8) !important;
            }
        }
    }
    ::-webkit-scrollbar-thumb {
        background-color: $thumb-color;
    }
}

@mixin typography($theme) {
    @include bootstrap.typography($theme);

    body {
        @include typography.level($theme, 'body-medium', false);
    }
    mat-row {
        &.selected {
            mat-cell {
                @include typography.level($theme, 'body-large');
            }
        }
    }

    // Material
    mat-table {
        &.header-hidden {
            mat-header-row {
                display: none;
            }
        }
    }
    /*
    mat-hint {
        @include typography.level($theme, 'caption', false);
    }
    mat-tooltip-component {
        @include typography.level($theme, 'caption');
    }
    mat-checkbox {
        .mdc-form-field {
            @include typography.level($theme, 'body-1');
        }
    }

    */

    .mat-display-large {
        @include typography.level($theme, display-large, false);
    }
    .mat-display-medium {
        @include typography.level($theme, display-medium, false);
    }
    .mat-display-small {
        @include typography.level($theme, display-small, false);
    }
    .mat-headline-large {
        @include typography.level($theme, headline-large, false);
    }
    .mat-headline-medium {
        @include typography.level($theme, headline-medium, false);
    }
    .mat-headline-small {
        @include typography.level($theme, headline-small, false);
    }
    .mat-title-large {
        @include typography.level($theme, title-large, false);
    }
    .mat-title-medium {
        @include typography.level($theme, title-medium, false);
    }
    .mat-title-small {
        @include typography.level($theme, title-small, false);
    }
    .mat-body-large {
        @include typography.level($theme, body-large, false);
    }
    .mat-body-medium {
        @include typography.level($theme, body-medium, false);
    }
    .mat-body-small {
        @include typography.level($theme, body-small, false);
    }
    .mat-label-large {
        @include typography.level($theme, label-large, false);
    }
    .mat-label-medium {
        @include typography.level($theme, label-medium, false);
    }
    .mat-label-small {
        @include typography.level($theme, label-small, false);
    }

    .font-family-plain {
        font-family: mat.get-theme-typography($theme, body-medium, font-family) !important;
    }
    .font-family-brand {
        font-family: mat.get-theme-typography($theme, display-large, font-family) !important;
    }
}
@mixin theme($theme) {
    @if mat.theme-has($theme, color) {
        @include color($theme);
    }
    @if mat.theme-has($theme, typography) {
        @include typography($theme);
    }
}
