@use '@angular/material' as mat;

@mixin level($theme, $level, $isImportant) {
    @if $isImportant {
        font-size: mat.get-theme-typography($theme, $level, font-size) !important;
        font-weight: mat.get-theme-typography($theme, $level, font-weight) !important;
        line-height: mat.get-theme-typography($theme, $level, line-height) !important;
        letter-spacing: mat.get-theme-typography($theme, $level, letter-spacing) !important;
    }
    @else {
        font-size: mat.get-theme-typography($theme, $level, font-size);
        font-weight: mat.get-theme-typography($theme, $level, font-weight);
        line-height: mat.get-theme-typography($theme, $level, line-height);
        letter-spacing: mat.get-theme-typography($theme, $level, letter-spacing);
    }
}